* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background-color: #148F77 ;
}
.medsos ul li{
    display: inline-block;
    color:#fff;
}
.container {
    width:80%;
    margin:0 auto;
}


.container:after {
    content:"";
    display:block;
    clear: both;
}

header h1{
    
    float:left;
    padding: 15px 0;
    color:#148F77
}
header ul {
    
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display:inline-block;
}
header ul li a:hover {
    background-color: blueviolet;
    color:#fff;
}
.active {
    background-color: rgba(244, 127, 255, 0.963) ;
    color:#fff;
}
.kucing {
    height:60vh;
    border: 1px solid;
    background-image: url('../img/kucing.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kucing:after{
    content:'';
    display:block;
    position:absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(20, 143, 119, .6) ; 
}
.kucing h2 {
    color:#fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color:#148F77;
    margin-bottom: 20px;
}
.profil p {
    color:rgba(5, 5, 8, 0.796);
    word-spacing: 1px;
    line-height: 20px;
}
.label {
    background-color: #148F77;
    color:#fff;
}
@media screen and (max-width:768px){
    .container {
        width:90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
}